# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/*
target/classes/com/
target/generated-sources/
src/test/
central-config-server-v15/config-client-v15/src/main/resources/static/
central-config-server-v15/config-client-v15/src/main/resources/templates/
central-config-server-v15/src/
reactive-tweet/target/classes/com/
reactive-tweet/target/generated-sources/
reactive-tweet/target/generated-test-sources/
reactive-tweet/target/test-classes/
src/
target/generated-test-sources/
target/test-classes/
/zuul-filters/target/
zuul-filters/
